@{
    ViewBag.Title = "Index";
}
<h1>Welcome!</h1>
<p class="lead">
    We've sent you an email to confirm your account creation, but before you go and do that spend a moment to select the
    applications that you would like to be alerted on outages.
</p>
<div class="container-fluid" ng-controller="AlertsController">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                <li ng-repeat="alertable in alertables">
                    <label class="checkbox-inline">
                        <input type="checkbox" data-toggle="toggle" />
                        {{alertable.Name}}
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary btn-lg">Ok, got it; these are the alerts I want &raquo;</button>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        angular.module('communicationApp', [])
          .controller('AlertsController', ['$scope', '$http', function ($scope, $http) {

              $http.get('@Url.Action("Get", "Alertables", new { area="api" })').
                    success(function (data) { $scope.alertables = data; }).
                    error(function () { $scope.alertables = ['No alertables were retrieved from the server']});

              //$scope.alertables = ['one', 'two', 'three'];

          }]);

    </script>
}