@{
    ViewBag.Title = "Nearly done";
}
<h1>All done! ...almost.</h1>
<p class="lead">
    Thanks for linking an external account and selecting some alerts, now you can go and check your @@health email
    to confirm these alerts and your account all in one go.
</p>
