@{
	ViewBag.Title = "Oops";
}

<div>
	
<h1>:(</h1>
	<h3>
	Oops, something has gone wrong, and unfortunately we didn't see it coming.
	We've logged this error so we can track down what caused it, and we can make sure it doesn't happen after the next release!
</h3>

<h4>
	Please return @Html.ActionLink("Home", "Index", "Home") and try again, and hopefully things will be smoother this time.
</h4>

</div>