@using MNIT_Communication.Domain
@using MNIT_Communication.Services
@{
    var runtimeContext = ServiceLocator.Resolve<IRuntimeContext>();
    var currentProfile = runtimeContext.CurrentProfile ?? UserProfile.DefaultProfile;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @currentProfile.DisplayName
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
