@{
    Layout = "_Layout_Empty.cshtml";
}

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>Details: @Model.Exception.Message</h3>

@{
    Response.Redirect("~/Error/Oops");
}

