@using MNIT_Communication.Models
@model BaseModel

@{
    ViewBag.Title = "Confirmation Failed";
}

<div class="jumbotron form-group form-inline">
    <h1>Confirmation Failed!</h1>
    <p class="lead">We could not confirm your account! Can you try again using the link we sent you?</p>
    <p>
        If you can't find this email, you <a href="/">might have to (re-)register now</a>..
    </p>
</div>

