<form ng-controller="ConfirmedUserController" ng-submit="closeWindow()">
    <div class="jumbotron form-group form-inline">
        <h1>Mobile number removed!</h1>
        <p class="lead">Sorry about the confusion, your mobile number has been removed from the account it was accidently linked to.</p>

        <div class="row">
            <div class="col-md-2 input-group">
                <button type="submit" class="btn btn-primary btn-lg">Close window &raquo;</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        angular.module('communicationApp', [])
          .controller('ConfirmedUserController', ['$scope', '$http', function ($scope, $http) {

              $scope.closeWindow = function () {
                  window.close();
              };

          }]);

    </script>
}