@using MNIT_Communication.Models
@model BaseModel

@{
    ViewBag.Title = "Un-confirmed Account!";
}

<div class="jumbotron">
    <h1>Un-confirmed Account!</h1>
    <p class="lead">
        Your account has not yet been confirmed. Please go to your @@health email account and click the 'Confimration Link' we sent you when you registered.
    </p>
    <p>
        If you can't find this email, or you haven't registered yet, you <a href="/">might have to (re-)register now</a>..
    </p>
   
</div>


@section scripts {

}