@using MNIT_Communication.Models
@model BaseModel

<form ng-controller="RegisterUserController" ng-submit="registerUser()">
    <div class="jumbotron form-group form-inline">
        <h1>
            Get Started
        </h1>

        <p class="lead">
            If you have already registered to use the application, the go ahead and 
            <a href="/Account/Login" class="btn btn-primary">
                <i class="fa fa-sign-in"></i> LOGIN
            </a>
        </p>


        <p class="lead">
            Enter your @@health email address and we'll get the process started.
        </p>
        <p>
            By entering your email address and proceeding
            you are agreeing to have this email address and your alert preferences stored in
            <a href="https://www.qgcio.qld.gov.au/initiatives/cloud-computing" target="_blank">The</a> 
            <a href="https://azure.microsoft.com/en-us/overview/what-is-azure/" target="_blank">Cloud</a>.
        </p>

        <fieldset ng-disabled="isSubmitting">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-6 input-group">
                    <input class="form-control input-lg"
                           placeholder="firstname.lastname@health.qld.gov.au"
                           type="text"
                           ng-model="emailAddress"
                           maxlength="100" />
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-10 input-group checkbox">
                        <label class=""
                               for="agreeCloudStorage">
                        <input class=""
                               type="checkbox"
                               name="agreeCloudStorage"
                               ng-model="agreeCloudStorage" />
                            I agree to have my email address and alert preferences stored in the Cloud.
                        </label>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-2 input-group">
                    <button type="submit" class="btn btn-primary btn-lg">Let's go &raquo;</button>
                </div>
            </div>
        </fieldset>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        angular.module('communicationApp', [])
          .controller('RegisterUserController', ['$scope', '$http', function ($scope, $http) {

              $scope.isSubmitting = false;

              $scope.registerUser = function () {
                  $scope.isSubmitting = true;
                  var data = {"emailAddress": $scope.emailAddress};
                  $http.post('@Url.HttpRouteUrl("DefaultApi", new { action = "Register", controller = "User"})', 
                      JSON.stringify($scope.emailAddress)).
                    success(function (data) {
                        $scope.emailAddress = '';
                        window.location = "/Account/LinkExternalAccount/" + data;
                    }).
                    error(function (data) { alert(data); $scope.isSubmitting = false; });
                  
              };

          }]);

    </script>
}