@using(var form = Html.BeginForm())
{ 
<div class="jumbotron form-group form-inline">
    <h1>Get Started!</h1>
    <p class="lead">Enter your @@health email address and we'll get the process started.</p>

    <div class="row">
        <div class="col-md-10">
            <input class="form-control input-lg" placeholder="firstname.lastname@health.qld.gov.au" type="text" name="emailAddress" maxlength="100" />
            <button type="submit" class="btn btn-primary btn-lg">Let's go &raquo;</button>
        </div>
    </div>
</div>
}