@model MNIT_Communication.Domain.NewUserProfile
@{
    ViewBag.Title = "Set User Profile";
}
<h1>Confirm your details</h1>
<p class="lead">
    We've got enough information to contact you while you're at your PC (if you have one), but for those times when
    you're not at your desk it would help if we had another email address and mobile phone number.
    Please confirm/update the details below.
</p>
<form class="container-fluid" ng-controller="UserProfileController" ng-submit="setUserProfile('@Model.NewUserRegistrationId')">
    <div class="row">
        <div class="col-md-2">
            <label for="email">Email:</label>
        </div>
        <div class="col-md-8">
            <input type="email" id="email" class="form-control input-lg" ng-model="email" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="mobile">Mobile Phone:</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="mobile" class="form-control input-lg" ng-model="mobile" placeholder="04xxxxxxxx" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary btn-lg">Yep, that's me &raquo;</button>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        angular.module('communicationApp', [])
            .controller('UserProfileController', ['$scope', '$http', function ($scope, $http) {

                $scope.email = '@Model.EmailAddressExternalProvider';
                $scope.mobile = '@Model.MobilePhoneNumber';

                $scope.setUserProfile = function (newUserRegistrationId) {
                    var data = {
                        "NewUserRegistrationId": newUserRegistrationId,
                        "EmailAddressExternalProvider": $scope.email,
                        "MobilePhoneNumber": $scope.mobile
                    };

                    $http.post('@Url.HttpRouteUrl("DefaultApi", new { action = "NewUserProfile", controller = "User"})',
                        JSON.stringify(data)).
                      success(function (data) {
                          window.location = "/Alerts/NewUser/" + newUserRegistrationId;
                      }).
                      error(function (data) { alert(data); });

                };

            }]);

    </script>
}